{"http_interactions":[{"request":{"method":"get","uri":"https://maps.googleapis.com/maps/api/geocode/json?address=Denver\u0026key=AIzaSyCkCtk5jlm5ZiT47hqEsqVlQ5u97k7my4A","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"], "Alternate-Protocol":["443:quic,p=0.02"]},"body":{"encoding":"UTF-8","string":"{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n               \"long_name\" : \"Denver\",\n               \"short_name\" : \"Denver\",\n               \"types\" : [ \"locality\", \"political\" ]\n            },\n            {\n               \"long_name\" : \"Denver County\",\n               \"short_name\" : \"Denver County\",\n               \"types\" : [ \"administrative_area_level_2\", \"political\" ]\n            },\n            {\n               \"long_name\" : \"Colorado\",\n               \"short_name\" : \"CO\",\n               \"types\" : [ \"administrative_area_level_1\", \"political\" ]\n            },\n            {\n               \"long_name\" : \"United States\",\n               \"short_name\" : \"US\",\n               \"types\" : [ \"country\", \"political\" ]\n            }\n         ],\n         \"formatted_address\" : \"Denver, CO, USA\",\n         \"geometry\" : {\n            \"bounds\" : {\n               \"northeast\" : {\n                  \"lat\" : 39.91424689999999,\n                  \"lng\" : -104.6002959\n               },\n               \"southwest\" : {\n                  \"lat\" : 39.614431,\n                  \"lng\" : -105.109927\n               }\n            },\n            \"location\" : {\n               \"lat\" : 39.7392358,\n               \"lng\" : -104.990251\n            },\n            \"location_type\" : \"APPROXIMATE\",\n            \"viewport\" : {\n               \"northeast\" : {\n                  \"lat\" : 39.91424689999999,\n                  \"lng\" : -104.6002959\n               },\n               \"southwest\" : {\n                  \"lat\" : 39.614431,\n                  \"lng\" : -105.109927\n               }\n            }\n         },\n         \"types\" : [ \"locality\", \"political\" ]\n      },\n      {\n         \"address_components\" : [\n            {\n               \"long_name\" : \"Denver\",\n               \"short_[...]
[...]
