{"http_interactions":[{"request":{"method":"get","uri":"https://api.twitter.com/1.1/account/verify_credentials.json","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["OAuth oauth_consumer_key=\"eXl06RGtKNnEc8AYlMuKjpo66\", oauth_nonce=\"f9a23132a6a629be94c24b6d76f33aaa\", oauth_signature=\"dw%2BkPywxZityCPhuwzOOAELb1AI%3D\", oauth_signature_method=\"HMAC-SHA1\", oauth_timestamp=\"1421076399\", oauth_token=\"2935410678-GpBDrY8zuSDIXhX9TBOEZCFroNvmZzpgGELOecm\", oauth_version=\"1.0\""]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;charset=utf-8"], "Last-Modified":["Mon, 12 Jan 2015 15:26:40 GMT"], "Status":["200 OK"], "X-Access-Level":["read-write-directmessages"], "X-Connection-Hash":["5f33c96066b4e8da1682f0d5b29cacbb"], "X-Rate-Limit-Limit":["15"], "X-Rate-Limit-Remaining":["13"], "X-Rate-Limit-Reset":["1421077228"], "X-Response-Time":["34"], "X-Transaction":["e59e58af0c0dd94f"]},"body":{"encoding":"UTF-8","string":"{\"id\":2935410678,\"id_str\":\"2935410678\",\"name\":\"Social Smarts\",\"screen_name\":\"social_smarts\",\"location\":\"Denver, CO\",\"profile_location\":null,\"description\":\"\",\"url\":null,\"entities\":{\"description\":{\"urls\":[]}},\"protected\":false,\"followers_count\":3,\"friends_count\":15,\"listed_count\":0,\"created_at\":\"Thu Dec 18 22:18:22 +0000 2014\",\"favourites_count\":0,\"utc_offset\":null,\"time_zone\":null,\"geo_enabled\":true,\"verified\":false,\"statuses_count\":15,\"lang\":\"en\",\"status\":{\"created_at\":\"Thu Jan 08 16:28:14 +0000 2015\",\"id\":553226683478585344,\"id_str\":\"553226683478585344\",\"text\":\"hope!\",\"source\":\"\\u003ca href=\\\"http:\\/\\/127.0.0.1:3000\\/\\\" rel=\\\"nofollow\\\"\\u003eSocial Smarts\\u003c\\/a\\u003e\",\"truncated\":false,\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":null,\"in_reply_to_user_id_str\":null,\"in_reply_to_screen_name\":null,\"geo\":null,\"coordinates\":null,\"place\":null,\"contributors\":null,\"retweet_count\":0,\"favorite_count\":0,\"entities\":{\"hashtags\":[],\"symbols\":[],\"user_mentions\":[],\"urls\":[]},\"favorited\":false,\"retweeted\":false,\"lang\":\"en\"},\"contributors_enabled\":false,\"is_translator\":false,\"is_translation_enabled\":false,\"profile_background_color\":\"C0DEED\",\"profile_background_image_url\":\"http:\\/\\/abs.twimg.com\\/images\\/themes\\/theme1\\/bg.png\",\"profile_background_image_url_https\":\"https:\\/\\/abs.twimg.com\\/images\\/themes\\/theme1\\/bg.png\",\"profile_background_tile\":false,\"profile_image_url\":\"http:\\/\\/pbs.twimg.com\\/profile_images\\/550588722446483458\\/1b7k8zSM_normal.jpeg\",\"profile_image_url_https\":\"https:\\/\\/pbs.twimg.com\\/profile_images\\/550588722446483458\\/1b7k8zSM_normal.jpeg\",\"profile_link_color\":\"0084B4\",\"profile_sidebar_border_color\":\"C0DEED\",\"profile_sidebar_fill_color\":\"DDEEF6\",\"profile_text_color\":\"333333\",\"profile_use_background_image\":true,\"default_profile\":true,\"default_profile_image\":false,\"following\":false,\"follow_request_sent\":false,\"notifications\":false}"},"http_version":null},"recorded_at":"Mon, 12 Jan 2015 15:26:40 GMT"},[...]
