{"http_interactions":[{"request":{"method":"get","uri":"http://api.klout.com/v2/tw-user.json/2935410678/score?key=sdxdsft7u5s676ztxhdf9x8v","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/json; charset=utf-8"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "X-Apikey-Qps-Allotted":["10"], "X-Apikey-Qps-Current":["1"], "X-Apikey-Quota-Allotted":["20000"], "X-Apikey-Quota-Current":["29"], "X-Mashery-Responder":["prod-j-worker-us-west-1b-26.mashery.com"], "X-Quota-Reset":["Tuesday, January 13, 2015 12:00:00 AM GMT"]},"body":{"encoding":"UTF-8","string":"{\"score\":17.945804380955316,\"scoreDelta\":{\"dayChange\":-0.2016735236757441,\"weekChange\":-0.40242386362616145,\"monthChange\":7.945804380955316},\"bucket\":\"10-19\"}"},"http_version":null},"recorded_at":"Mon, 12 Jan 2015 14:49:10 GMT"}],"recorded_with":"VCR 2.9.3"}